.layui-badge, .layui-badge-rim, .layui-badge-dot {
    padding-bottom: 1px;
}

.kg-body {
    padding: 15px;
}

.kg-clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.kg-cursor-pointer {
    cursor: pointer;
}

.kg-text-center {
    text-align: center;
}

.kg-login-form {
    width: 420px;
    margin: 100px auto;
}

.kg-login-form .layui-input-block {
    margin-left: 60px;
    width: 300px;
}

.kg-login-form .layui-form-label {
    width: 30px;
}

.kg-input-inline {
    float: left;
    width: 250px;
    margin-right: 10px;
}

.kg-btn-verify {
    color: green;
}

.kg-side-menu-bar {
    position: absolute;
    top: 0;
    left: 200px;
    line-height: 60px;
}

.kg-side-menu-bar .layui-icon {
    color: #009688;
    font-size: 25px;
}

.kg-nav-module {
    position: absolute;
    top: 0;
    left: 230px;
}

.kg-breadcrumb {
    margin-left: 3px;
    margin-bottom: 15px;
}

.kg-nav {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin-bottom: 17px;
}

.kg-nav-left {
    position: absolute;
    top: 0;
    left: 5px;
}

.kg-nav-right {
    position: absolute;
    top: 0;
    right: 0;
}

.kg-back {
    cursor: pointer;
}

.kg-tab-title {
    margin: 0 0 15px 0;
}

.kg-table td {
    padding: 10px;
}

.kg-table p {
    line-height: 1.8em;
}

.kg-table .kg-progress {
    margin: 15px 0 5px 0;
}

.kg-table .layui-rate {
    padding: 0;
}

.kg-table .layui-form-switch {
    margin: 0;
}

.kg-priority-input {
    width: 60px;
}

img.kg-cover {
    width: 185px;
    height: 100px;
    cursor: pointer;
}

.kg-form .layui-form-label {
    width: 120px;
}

.kg-form .layui-input-block {
    margin-left: 150px;
}

.kg-form .xm-body {
    padding: 10px;
}

.kg-search-box .layui-input {
    width: 250px;
}

.kg-qrcode-block {
    padding: 20px;
    text-align: center;
}

.kg-error-tips {
    color: red;
}

.kg-success-tips {
    color: green;
}

img.kg-qrcode {
    width: 140px;
    height: 140px;
}

.kg-order-date {
    margin-left: 30px;
}

.kg-order-item {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
}

.kg-order-item:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
