/.git
/.idea
/vendor
/config/config.php
/config/xs.course.ini
/config/xs.article.ini
/config/xs.question.ini
/config/alipay/*.crt
/config/wxpay/*.pem
/db/migrations/schema.php
/public/robots.txt
/public/sitemap.xml
/public/h5
/storage/cache/purifier
*KgTest*
