/.idea
/vendor
/config/config.php
/config/xs.course.ini
/config/xs.article.ini
/config/xs.question.ini
/config/xs.group.ini
/config/xs.user.ini
/config/alipay/*.crt
/config/wxpay/*.pem
/public/robots.txt
/public/sitemap.xml
/public/h5
*KgTest*
