.main {
    background-color: #f2f2f2;
}

.layer {
    padding: 20px;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.gray {
    color: #999;
}

.pointer {
    cursor: pointer;
}

.avatar-sm {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.layui-table .meta span {
    margin-right: 10px;
}

.vip img {
    border: 3px solid orange;
}

.qrcode img {
    width: 160px;
    height: 160px;
}

.qrcode-sm img {
    width: 100px;
    height: 100px;
}

.img-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.img-viewer img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
    padding: 5px;
    cursor: zoom-out;
}

.kg-zoom img {
    max-width: 100%;
    cursor: zoom-in;
}

.breadcrumb {
    position: relative;
    margin-bottom: 20px;
}

.breadcrumb .share {
    position: absolute;
    top: 2px;
    right: -5px;
}

.breadcrumb .share a {
    margin-right: 5px;
}

.wrap {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.bg-wrap {
    padding: 20px;
    background-color: #f2f2f2;
}

.no-records {
    padding: 20px;
    color: #999;
    text-align: center;
}

.no-records .icon {
    margin-bottom: 10px;
}

.no-records .icon .layui-icon {
    font-size: 100px;
}

.pager {
    margin-top: 20px;
    text-align: center;
}

.loading {
    padding: 30px;
    text-align: center;
}

.layout-main {
    display: flex;
    justify-content: space-between;
}

.layout-content {
    width: 800px;
}

.layout-sidebar {
    width: 340px;
}

.writer-content {
    padding-top: 30px;
}

.writer-sidebar {
    padding-top: 30px;
}

.writer-content .layui-input-block,
.writer-sidebar .layui-input-block,
.report-form .layui-input-block {
    margin-left: 0;
}

.writer-sidebar .layui-form-label,
.report-form .layui-form-label {
    float: none;
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: 10px;
    text-align: inherit;
}

.report-form .last-form-item {
    margin-top: 20px;
}

.report-form .layui-textarea {
    min-height: 80px;
}

#header {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    background-color: #393D49;
}

#main {
    margin-top: 80px;
    margin-bottom: 30px;
    min-height: 760px;
}

#footer {
    width: 100%;
    padding: 30px 0;
    background: #474443;
    text-align: center;
    font-size: 12px;
}

#header .logo {
    top: 0;
    left: 0;
    position: absolute;
    line-height: 60px;
}

.logo img {
    max-width: 185px;
    max-height: 60px;
}

.top-nav {
    margin-left: 185px;
}

#header .user {
    top: 0;
    right: 0;
    position: absolute;
}

.layer-search input {
    height: 75px;
    line-height: 75px;
    width: 500px;
    padding: 0 15px;
    font-size: 18px;
    border: none 0;
    background: none;
}

#header .layui-nav {
    background: none;
}

#footer .row {
    line-height: 18px;
    margin-bottom: 15px;
}

#footer .row:last-child {
    margin-bottom: 0;
}

#footer .contact {
    line-height: 24px;
}

#footer span, #footer a {
    color: #999;
}

#footer a:hover,
#footer .iconfont:hover {
    color: #fff;
}

#footer .nav a,
#footer .copyright span,
#footer .copyright a,
#footer .contact a {
    margin-right: 10px;
}

#footer .iconfont {
    font-size: 20px;
}

.layout-sidebar .loading {
    padding: 15px;
    text-align: center;
}

.layout-sidebar .sidebar {
    margin-bottom: 15px;
}

.page-info {
    min-height: 500px;
}

.help-list li {
    line-height: 30px;
}

.index-wrap {
    padding-bottom: 15px;
}

.index-wrap .layui-tab {
    margin-bottom: 0;
}

.index-wrap .layui-tab-title {
    border: none;
}

.index-wrap .layui-tab-content {
    padding-top: 20px;
}

.index-wrap .header {
    text-align: center;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
}

.index-wrap .simple {
    padding-top: 20px;
}

.index-course-list .course-card {
    box-shadow: none;
}

.index-course-list .course-card .info {
    border: 1px solid #eee;
    padding-bottom: 18px;
}

.index-carousel {
    width: 1120px;
    height: 336px;
    text-align: center;
}

.index-carousel .carousel {
    width: 100%;
    height: 100%;
}

.search-form .query-input {
    width: 696px;
}

.search-form .search-btn {
    padding: 0 30px;
}

.search-tab {
    margin: 0;
}

.search-tab .layui-tab-title {
    margin-bottom: 10px;
}

.search-tab .layui-tab-content {
    padding: 10px 0;
}

.search-empty {
    padding: 50px 0;
    text-align: center;
}

.search-empty .icon {
    margin-bottom: 30px;
}

.search-empty .icon .layui-icon {
    font-size: 150px;
    color: #393D49;
}

.search-empty .text {
    color: #666;
    font-size: 18px;
}

.search-empty .text .query {
    color: red;
    padding: 0 5px;
}

.search-course-card,
.search-article-card {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
}

.search-course-card:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.search-course-card .cover {
    width: 210px;
    height: 118px;
    margin-right: 15px;
}

.search-course-card .cover img {
    width: 100%;
    height: 100%;
}

.search-course-card .info {
    width: 500px;
}

.search-course-card .title {
    margin-bottom: 10px;
    white-space: nowrap;
}

.search-course-card .summary {
    margin-bottom: 10px;
    line-height: 1.5em;
    max-height: 4.5em;
    color: #666;
    overflow: hidden;
    overflow-wrap: break-word;
}

.search-course-card .meta,
.search-article-card .meta,
.search-question-card .meta {
    color: #999;
}

.search-course-card .meta span,
.search-article-card .meta span,
.search-question-card .meta span {
    margin-right: 10px;
}

.search-course-card em,
.search-article-card em,
.search-question-card em {
    color: red;
    font-style: normal;
}

.query-badge {
    padding: 2px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.widget-card {
    position: relative;
}

.widget-card .more {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
}

.widget-card .more a {
    color: #666;
}

.article-list {
    margin-bottom: 20px;
}

.article-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
}

.article-card:last-child {
    margin-bottom: 0;
}

.article-card .info {
    flex: 1 1 auto;
}

.article-card .cover {
    flex: 0 0 auto;
    width: 180px;
    height: 100px;
    margin-left: 10px;
}

.article-card .cover img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.article-card:last-child {
    border-bottom: none;
}

.article-card .title {
    margin-bottom: 10px;
}

.article-card .summary {
    color: #666;
    line-height: 1.5em;
    max-height: 4.5em;
    margin-bottom: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.article-card .meta {
    color: #999;
}

.article-card .meta span {
    margin-right: 10px;
}

.sidebar-rank-card {
    display: flex;
    margin-bottom: 15px;
}

.sidebar .rank {
    margin-right: 10px;
}

.sidebar-article-list .title {
    margin-bottom: 5px;
}

.sidebar-article-list .meta {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
}

.sidebar-article-list .meta:last-child {
    border-bottom: none;
}

.sidebar-article-list .meta span {
    margin-right: 10px;
}

.article-info .title {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
    font-size: 24px;
    word-break: break-word;
}

.article-info .meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #666;
}

.article-info .meta .left span {
    margin-right: 10px;
}

.article-info .meta .right span {
    margin-left: 10px;
    cursor: pointer;
}

.article-info .content {
    margin-bottom: 20px;
}

.article-info .tags {
    margin-bottom: 20px;
}

.article-info .source-tips {
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #f6f6f6;
    text-align: center;
    color: #666;
}

.answer-tips {
    margin-bottom: 20px;
}

.answer-tips h3 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: inherit;
}

.answer-tips ul {
    color: #666;
}

.answer-tips li {
    line-height: 30px;
}

.answer-tips .suggest-text,
.answer-tips .layui-icon-ok-circle {
    color: green;
}

.answer-tips .not-suggest-text,
.answer-tips .layui-icon-close-fill {
    color: red;
}

.answer-tips .suggest-list {
    margin-bottom: 15px;
}

.question-card .stats {
    display: flex;
    width: 120px;
    margin-right: 15px;
}

.question-card .stats .column {
    width: 60px;
    text-align: center;
    color: #666;
}

.question-card .stats .column .count {
    line-height: 20px;
}

.question-card .stats .solved {
    color: green;
}

.answer-card {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.answer-card:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.answer-card .header {
    line-height: 32px;
    margin-bottom: 20px;
}

.answer-card .header span {
    margin-right: 10px;
}

.answer-card .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.answer-card .content {
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.answer-card .comment-list {
    margin-top: 20px;
}

#comment-form {
    margin-bottom: 30px;
}

.comment-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-form .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.comment-form .layui-textarea {
    min-height: 40px;
}

.comment-card {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
}

.comment-card:last-child {
    border-bottom: none;
}

.comment-card .avatar {
    margin-right: 10px;
}

.comment-card .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.comment-card .info {
    width: 100%;
}

.comment-card .user {
    margin-bottom: 15px;
    color: #666;
}

.comment-card .user .separator {
    margin: 0 10px;
}

.comment-card .content,
.consult-card .answer {
    margin-bottom: 15px;
    overflow-wrap: break-word;
    color: #666;
}

.comment-card .footer,
.answer-card .footer {
    display: flex;
    justify-content: space-between;
    line-height: 1.2em;
    color: #999;
}

.comment-card .footer .left,
.comment-card .footer .right,
.answer-card .footer .left,
.answer-card .footer .right {
    display: flex;
}

.comment-card .footer .left .column,
.answer-card .footer .left .column {
    margin-right: 10px;
}

.comment-card .footer .right .column,
.answer-card .footer .right .column {
    margin-left: 10px;
}

.comment-card .footer .action:hover,
.answer-card .footer .action:hover {
    cursor: pointer;
}

.reply-list {
    margin-left: 42px;
}

.toolbar-sticky {
    position: fixed;
    top: 150px;
    margin-left: -85px;
}

.toolbar-sticky .item {
    margin-bottom: 15px;
    text-align: center;
}

.toolbar-sticky .item .icon {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
    background-color: #fff;
}

.toolbar-sticky .layui-icon {
    color: #999;
    cursor: pointer;
}

.toolbar-sticky .item .text {
    color: #999;
}

.toolbar-sticky .active,
.toolbar-sticky .layui-icon-star-fill {
    color: orange;
}

.course-list {
    margin-bottom: 20px;
}

.course-card {
    float: left;
    width: 100%;
    height: 230px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.course-card .model, .course-card .type {
    position: absolute;
    top: 15px;
    right: 15px;
}

.course-card .cover {
    overflow: hidden;
}

.course-card .cover img {
    width: 275px;
    height: 155px;
    transition: all 0.6s;
}

.course-card .cover img:hover {
    transform: scale(1.2);
}

.course-card .info {
    padding: 10px;
}

.course-card .title {
    margin-bottom: 10px;
}

.course-card .meta {
    color: #666;
    font-size: 12px;
}

.course-card .meta span {
    margin-right: 10px;
}

.course-card .meta span:last-child {
    margin-right: 0;
}

.course-card .origin-price {
    text-decoration: line-through;
}

.course-card .price {
    color: red;
}

.course-card .free {
    color: green;
}

.course-card .order {
    cursor: pointer;
}

.filter-toggle {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.filter-wrap {
    margin-bottom: 20px;
}

.filter-group {
    display: flex;
    height: 40px;
    line-height: 40px;
    padding-bottom: 5px;
}

.filter-group .title {
    width: 50px;
    font-weight: 700;
}

.filter-group .content a {
    margin-right: 15px;
}

.filter-sort {
    padding: 10px 20px;
}

.filter-sort a {
    margin-right: 20px;
}

.course-meta {
    display: flex;
}

.course-meta .cover {
    position: relative;
    width: 270px;
    height: 150px;
    margin-right: 10px;
}

.course-meta .info {
    width: 580px;
    padding-top: 5px;
}

.course-meta .info .meta {
    line-height: 35px;
}

.course-meta .cover img {
    width: 100%;
    height: 100%;
}

.course-meta .cover .model {
    position: absolute;
    top: 15px;
    right: 15px;
}

.course-meta .info .item {
    line-height: 35px;
}

.course-meta .info .key {
    margin-right: 5px;
}

.course-meta .info .value {
    margin-right: 5px;
    color: #666;
}

.course-meta .info .price {
    color: red;
}

.course-meta .info .free {
    color: green;
}

.course-meta .ratings {
    padding-top: 5px;
}

.course-meta .ratings .item {
    line-height: 40px;
}

.course-meta .ratings .name {
    margin-right: 5px;
}

.course-meta .ratings .layui-rate {
    padding: 0;
    margin-top: -8px;
}

.course-meta .ratings .layui-icon {
    font-size: 16px;
}

.course-meta .ratings .score {
    color: #666;
}

.layui-tab-title li {
    position: relative;
}

.layui-tab-title .tab-count {
    position: absolute;
    top: -10px;
    left: 70px;
    font-size: 12px;
    color: #666;
}

.course-tab {
    margin: 0;
}

.course-tab .layui-tab-content {
    padding: 20px 0;
}

.course-tab .loading {
    text-align: center;
    padding: 15px;
}

.course-tab .loading .layui-icon {
    font-size: 30px;
}

.lesson-list .allow {
    cursor: pointer;
}

.lesson-list .deny {
    cursor: default;
}

.lesson-item {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    padding: 0 10px;
}

.lesson-item:hover {
    background-color: #f2f2f2;
}

.lesson-item .title {
    margin-right: 5px;
}

.lesson-item .model {
    margin-right: 5px;
}

.lesson-item .lock {
    margin-right: 5px;
}

.lesson-item .study-time {
    margin-right: 5px;
    color: green;
}

.lesson-item .flag {
    padding: 2px 3px;
    margin-right: 5px;
    font-size: 12px;
}

.lesson-item .flag-free {
    border: 1px solid red;
    color: red;
}

.lesson-item .flag-playback {
    border: 1px solid orange;
    color: orange;
}

.lesson-item .flag-scheduled {
    border: 1px solid green;
    color: green;
}

.lesson-item .flag-active {
    border: 1px solid red;
    color: red;
}

.lesson-item .flag-inactive {
    border: 1px solid gray;
    color: gray;
}

.lesson-item .flag-ended {
    border: 1px solid gray;
    color: gray;
}

.package-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.package-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.package-info {
    width: 180px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
}

.package-info span {
    margin-right: 5px;
}

.package-info .title {
    padding: 0 10px;
    margin-bottom: 10px;
}

.package-info .origin-price {
    color: #666;
    margin-bottom: 10px;
}

.package-info .origin-price i {
    font-style: normal;
    text-decoration: line-through;
}

.package-info .price {
    color: #666;
    margin-bottom: 10px;
}

.package-info .price i {
    color: red;
    font-style: normal;
}

.package-course-list {
    width: 580px;
    height: 180px;
    overflow-x: auto;
    white-space: nowrap;
}

.package-course-list .separator {
    color: #666;
    display: inline-block;
    padding-top: 35px;
    margin-left: -5px;
    margin-right: 4px;
}

.package-course-card {
    width: 175px;
    height: 160px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
}

.package-course-card .cover {
    width: 175px;
    height: 95px;
    margin-bottom: 10px;
}

.package-course-card .cover img {
    width: 100%;
    height: 100%;
}

.package-course-card .title {
    font-size: 12px;
    padding: 0 5px;
    text-align: center;
    white-space: normal;
}

.review-card .info,
.consult-card .info {
    position: relative;
}

.review-card .rating,
.consult-card .more {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 10px;
}

.consult-card .question {
    margin-bottom: 10px;
    color: #333;
}

.consult-card .question,
.consult-card .answer {
    line-height: 1.5em;
    max-height: 6em;
    overflow: hidden;
}

.review-card .rating .layui-icon {
    color: orange;
    font-size: 12px;
}

.sidebar-card .layui-card-header {
    text-align: center;
}

.sidebar-user-card {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
}

.sidebar-user-card:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.sidebar-user-card .avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.sidebar-user-card .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.sidebar-user-card .info {
    line-height: 24px;
}

.sidebar-user-card .info .title {
    color: #666;
    font-size: 12px;
}

.topic-badge,
.tag-badge {
    padding: 2px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.sidebar-course-card {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
}

.sidebar-course-card:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.sidebar-course-card .cover {
    width: 90px;
    height: 50px;
    margin-right: 10px;
}

.sidebar-course-card .cover img {
    width: 100%;
    height: 100%;
}

.sidebar-course-card .info {
    width: 200px;
    color: #666;
    font-size: 12px;
    overflow: hidden;
}

.sidebar-course-card .title {
    white-space: nowrap;
}

.sidebar-course-card .meta span {
    margin-right: 10px;
}

.sidebar-course-card .meta .price {
    color: red;
}

.sidebar-course-card .meta .free {
    color: green;
}

.sidebar-chapter-list {
    height: 405px;
    overflow-y: auto;
}

.sidebar-lesson-list .active {
    color: red;
}

.sidebar-lesson-list .allow {
    cursor: pointer;
}

.sidebar-lesson-list .deny {
    cursor: default;
    color: gray;
}

.sidebar-chapter {
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.sidebar-lesson {
    padding: 0 10px;
    line-height: 30px;
}

.sidebar-lesson:hover {
    background-color: #f2f2f2;
}

.live-preview {
    color: #666;
    margin-top: 30px;
    text-align: center;
}

.live-preview .icon {
    margin-bottom: 10px;
}

.live-preview .icon .layui-icon {
    font-size: 150px;
}

.live-preview .tips {
    color: #999;
    margin: 20px 0;
}

.countdown .timer .label {
    font-size: 32px;
}

.countdown .timer .value {
    color: green;
    font-size: 36px;
    padding: 10px;
}

.player-wrap {
    width: 760px;
    height: 428px;
    margin-bottom: 20px;
    background: black;
    position: relative;
}

.dplayer {
    width: 760px;
    height: 428px;
}

.play-mask {
    top: 50%;
    left: 50%;
    z-index: 8;
    position: absolute;
    margin-top: -32px;
    margin-left: -32px;
}

.play-mask .layui-icon-play {
    color: white;
    cursor: pointer;
    font-size: 64px;
}

.play-mask .layui-icon-play:hover {
    color: #00a4ff;
}

.chat-wrap .layui-card-header {
    text-align: center;
}

.chat-wrap .layui-card-body {
    padding-bottom: 20px;
}

.chat-msg-list {
    height: 354px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.chat {
    margin-bottom: 10px;
    line-height: 1.5em;
    word-break: break-all;
    font-size: 12px;
    color: #999;
}

.chat-sys {
    padding: 5px;
    background-color: black;
    color: white;
}

.chat span {
    margin-right: 5px;
}

.chat .icon .layui-icon {
    font-size: 14px;
}

.chat-msg-form .layui-input {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #999;
}

.vip-header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.vip-priv-list {
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.vip-option-list {
    margin-bottom: 30px;
}

.vip-option-card {
    float: left;
    width: 100%;
    height: 170px;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.vip-option-card .title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
}

.vip-option-card .price {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: red;
}

.cart-item-card {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.cart-item-card:last-child {
    padding: 0;
    margin: 0;
    border-bottom: none;
}

.cart-item-card .cover {
    margin-right: 10px;
}

.cart-item-card .cover img {
    width: 175px;
    height: 95px;
}

.cart-item-card p {
    line-height: 30px;
}

.cart-item-card .key {
    margin-right: 5px;
}

.cart-item-card .value {
    margin-right: 5px;
    color: #666;
}

.cart-item-card .origin-price {
    text-decoration: line-through;
}

.cart-item-card .price {
    margin-right: 5px;
    color: red;
}

.cart-stats {
    display: flex;
    justify-content: space-between;
}

.cart-stats .info {
    line-height: 38px;
}

.cart-stats .amount {
    color: red;
}

.cart-stats .pay-amount {
    font-size: 18px;
    font-weight: 700;
}

.cart-stats span {
    color: #666;
    margin-right: 15px;
}

.payment .header {
    padding-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
    line-height: 30px;
    text-align: center;
}

.payment .header span {
    color: #666;
    margin-right: 20px;
}

.payment .header .amount {
    color: red;
    font-size: 18px;
    font-weight: 700;
}

.payment .channel {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.channel .btn-pay {
    width: 200px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    margin-right: 15px;
    background-color: #f2f2f2;
}

.payment .footer {
    text-align: center;
}

.payment .footer .tips {
    color: #999;
    font-size: 12px;
}

#pay-layer {
    padding-top: 50px;
}

#pay-layer .qrcode {
    text-align: center;
}

#pay-layer .qrcode img {
    border: 3px solid #999;
    padding: 10px;
    width: 160px;
    height: 160px;
}

#pay-layer .success-tips {
    color: green;
    text-align: center;
}

.account-wrap {
    padding-top: 40px;
    padding-bottom: 30px;
}

.account-form {
    width: 400px;
    margin: 0 auto;
}

.account-form .layui-form-item {
    position: relative;
}

.account-form .layui-form-item label {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

.account-form .layui-form-item input {
    padding-left: 36px;
}

.account-form .layui-input-block {
    margin-left: 0;
}

.account-form .verify-input-inline {
    width: 280px;
    margin-right: 10px;
}

.account-form .verify-btn-inline {
    width: 110px;
    margin-right: 0;
}

.account-form .agree {
    display: flex;
}

.account-form .agree .right {
    padding-top: 8px;
    color: #999;
}

.verify-btn-inline button {
    min-width: 100px;
    width: 100%;
}

.login-tab {
    margin: 0;
}

.login-tab .layui-tab-title {
    text-align: center;
}

.login-tab .layui-tab-content {
    padding-top: 30px;
}

.login-wrap .link {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
}

.login-wrap .link a {
    color: #999;
}

.login-wrap .link .separator {
    margin: 0 15px;
    color: #999;
}

.login-wrap .oauth {
    text-align: center;
}

.login-wrap .oauth a {
    margin: 0 10px;
}

.login-qq {
    color: dodgerblue;
}

.login-wechat {
    color: green;
}

.login-weibo {
    color: red;
}

.register-close-tips {
    padding: 50px;
    text-align: center;
    color: #999;
}

.wechat-scan-box {
    padding: 20px;
    text-align: center;
}

.wechat-scan-box .qrcode {
    margin-bottom: 20px;
}

.wechat-scan-box .qrcode img {
    border: 3px solid #999;
    padding: 5px;
}

.wechat-scan-box .tips {
    color: #666;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile .avatar {
    width: 96px;
    height: 96px;
    margin-right: 30px;
}

.user-profile .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.user-profile .info {
    flex: 1;
}

.user-profile .info h3 {
    padding-top: 5px;
    margin-bottom: 10px;
}

.user-profile .info p {
    margin-bottom: 10px;
    color: #666;
}

.user-profile .info span {
    color: #999;
    margin-right: 5px;
}

.user-profile .about {
    width: 400px;
    height: 70px;
    padding: 10px;
    color: #999;
    font-size: 12px;
    background-color: #f2f2f2;
}

.user-tab .layui-tab-title {
    margin-bottom: 10px;
    text-align: center;
    border-bottom: none;
}

.user-tab .layui-tab-content {
    padding: 10px 0;
}

.user-tab .loading {
    text-align: center;
    padding: 15px;
}

.user-tab .loading .layui-icon {
    font-size: 30px;
}

.user-tab .course-card .info {
    padding: 10px 8px;
}

.user-tab .article-card {
    height: 110px;
    overflow: hidden;
}

.user-tab .article-card .title {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.user-tab .article-card .summary {
    max-height: 3em;
}

.user-card {
    float: left;
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.user-card .avatar {
    margin-top: 20px;
    margin-bottom: 15px;
}

.user-card .avatar img {
    width: 96px;
    height: 96px;
    border-radius: 100px;
    transition: 0.5s;
}

.user-card .avatar img:hover {
    transform: rotateY(180deg);
}

.user-card .name {
    padding: 0 10px;
    margin-bottom: 10px;
}

.user-card .title {
    color: #666;
}

.tag-card {
    float: left;
    width: 100%;
    height: 160px;
    padding: 25px 0;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.tag-card .icon {
    margin-bottom: 20px;
}

.tag-card .icon img {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    transition: 0.5s;
}

.tag-card .name {
    margin-bottom: 20px;
}

.tag-card .stats {
    color: #666;
}

.my-sidebar {
    width: 240px;
}

.my-content {
    width: 900px;
}

.my-avatar {
    width: 96px;
    height: 96px;
    border-radius: 100px;
}

.my-profile-card {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.my-profile-card .vip {
    position: absolute;
    right: 15px;
    top: 15px;
}

.my-profile-card .avatar {
    margin-bottom: 10px;
}

.my-menu li {
    line-height: 30px;
    padding-left: 30px;
}

.my-nav {
    position: relative;
    line-height: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.my-nav .title {
    margin-right: 20px;
    font-size: 16px;
}

.my-nav .sub-nav {
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.my-nav a {
    margin-right: 20px;
}

.sub-nav a {
    margin-right: 0;
}

.my-content .section {
    margin-bottom: 20px;
}

.profile-form {
    width: 95%;
}

.wrap .layui-table {
    margin: 0;
}

.layui-table p {
    line-height: 2em;
}

.layui-table .center {
    text-align: center;
}

.review-table .title {
    width: 400px;
}

.review-table .content, .consult-table .content {
    width: 400px;
    color: #666;
}

.review-form .layui-rate {
    padding-top: 6px;
}

.consult-form .layui-form-label {
    width: 50px;
    padding: 9px 0;
}

.consult-form .layui-input-block {
    margin-left: 70px;
}

.consult-form .layui-form-mid {
    float: none;
    margin-left: 70px;
}

.consult-info .item {
    display: flex;
    margin-bottom: 15px;
    line-height: 1.5em;
}

.consult-info .item .label {
    width: 50px;
    text-align: right;
}

.consult-info .item .title {
    width: 600px;
}

.consult-info .item .content {
    width: 600px;
    color: #666;
    word-wrap: break-word;
}

.security-form {
    width: 600px;
}

.security-form .verify-input-inline {
    width: 360px;
}

.security-form .verify-btn-inline {
    width: 120px;
    margin-right: 0;
}

.security-item-list {
    margin-top: -20px;
}

.security-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    line-height: 80px;
}

.security-item:last-child {
    border-bottom: none;
}

.security-item .icon {
    margin-right: 15px;
}

.security-item .title {
    margin-right: 15px;
}

.security-item .summary {
    color: #666;
}

.connect-list {
    margin-bottom: 20px;
}

.open-avatar img {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.connect-tips {
    color: #666;
    margin-bottom: 20px;
}

.oauth-list {
    margin-bottom: 20px;
}

.oauth-list a {
    margin: 0 10px;
}

.order-filter {
    padding: 15px 20px;
}

.order-filter a {
    margin-right: 20px;
}

.order-table {
    margin: 0;
}

.order-table span {
    margin-right: 10px;
}

.order-table em {
    font-style: normal;
}

.order-table .price {
    color: red;
}

.order-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.order-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.order-item .price {
    color: red;
    font-style: normal;
}

.order-card {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #e6e6e6;
    color: #666;
}

.order-card .header {
    margin-bottom: 10px;
}

.order-card .header span {
    margin-right: 10px;
}

.order-card .column {
    float: left;
    line-height: 30px;
}

.order-card .subject {
    width: 50%;
    color: #666;
}

.order-card .price {
    width: 20%;
    color: red;
}

.order-card .status {
    width: 20%;
    color: #666;
}

.order-card .action {
    width: 10%;
}

.notice-card .content {
    white-space: nowrap;
}

.notice-card .content p {
    margin-bottom: 10px;
}

.notice-card .content p:last-child {
    margin-bottom: 0;
}


.gift-meta {
    display: flex;
}

.gift-meta .cover {
    position: relative;
    width: 270px;
    height: 150px;
    margin-right: 10px;
}

.gift-meta .cover .type {
    position: absolute;
    top: 15px;
    right: 15px;
}

.gift-meta .cover img {
    width: 100%;
    height: 100%;
}

.gift-meta .info {
    padding-top: 5px;
}

.gift-meta .info p {
    line-height: 35px;
}

.gift-meta .info span {
    margin-right: 5px;
}

.gift-meta .info .value {
    color: #666;
}

.gift-meta .info .price {
    color: red;
}

.gift-details {
    min-height: 450px;
}
