html {
    background-color: #f2f2f2;
}

.link-wrap {
    width: 600px;
    padding:30px;
    margin: 100px auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.link-wrap h3 {
    margin-bottom: 20px;
}

.link-wrap .tips {
    margin-bottom: 20px;
}

.link-wrap .url {
    color: #999;
    margin-bottom: 20px;
}

.link-wrap .action {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    text-align: right;
}
